.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}
.modal-header h1 {
  margin: 0;
}

.obsidian-wordpress-reloaded-date-input-invalid {
  border-color: var(--text-error) !important;
}
